# VS Code
.vscode/
!.vscode/extensions.json

# Other files
app/*
note.txt
*.drawio
*.bkp

# Python
**/__pycache__
**/.ipynb_checkpoints
**/failed/

# Environment file
.env*
!.env.example

# Notebook playground
*.ipynb

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv