# VS Code
.vscode/
!.vscode/extensions.json

# Other files
**/data/
note.txt
*.drawio
*.bkp

# Python
**/__pycache__
**/.ipynb_checkpoints
**/failed/
**/playground

# Environment file
.env*
!.env.example

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv